.headers .img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.solblok {
  display: block;
  padding-top: 4%;
  font-size: 35;
  width: 95%;
  height: 90px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  background-color: #e5e5f7;
  opacity: 0.8;
  background: linear-gradient(135deg, #dbdbe355 25%, transparent 25%) -10px 0/
      20px 20px,
    linear-gradient(225deg, #dbdbe3 25%, transparent 25%) -10px 0/ 20px 20px,
    linear-gradient(315deg, #dbdbe355 25%, transparent 25%) 0px 0/ 20px 20px,
    linear-gradient(45deg, #dbdbe3 25%, #e5e5f7 25%) 0px 0/ 20px 20px;
}

.dikdortgen {
  width: 180px;
  height: 50px;
  text-align: left;
  padding: 10px 10px 10px 10px;
  border-style: solid;
  margin-top: 5px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 2em;
  background-color: gray;
}

.kutucuk {
  width: 170px;
  height: 50px;
  text-align: left;
  padding: 10px 10px 10px 10px;
  border-style: solid;
  margin-top: 5px;
  background-color: rgb(219, 211, 211);
  color: black;
  font-size: 1em;
}

#ele {
  float: left;
}
.tab {
  width: 400px;
  height: 200px;
  background-color: ;
}

.dikme {
  float: left;
}
